@import './global/reset.scss';
@import './global/variables.scss';
@import './global/values.scss';
@import './global/btn.scss';
@import './global/animation.scss';


html{
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

main{
  max-width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}
